
form{
margin-top:100px;
margin-left:200px;

width:400px;
height:400px;
z-index:20;

}

#bg{
position:fixed;
margin-top:0px;
background:url(../img/first_bg.png) no-repeat 0 0;
background-size:100%;
width:400px;
height:400px;
z-index:1;
}

#reg{
z-index:90;
}