*
{
	margin:0px;
	padding:0px;
}
body{
font-family:'Georgia','Arial',sans-serif;
font-size:small;
text-align:centre;
background:url(../demo-stuff/body.png) repeat left top;
}

#content{
margin:0 auto;
-webkit-box-shadow: 3px 3px 10px 2px rgb(82,63,80); 
-moz-box-shadow: 3px 3px 10px 2px rgb(237,218,252);
-o-box-shadow:3px 3px 15px 2px rgb(82,63,80); 
box-shadow: 3px 3px 15px 2px rgb(82,63,80);
width:800px;
margin-left:auto;
margin-right:auto;
}

#wrapper{
margin:0 auto;
width:400px;
}

#zhuce{
display:none;
margin-left:40px;
}
#nav01:hover #zhuce{
display:block;
 
}

#recipe_2{
display:none;
margin-left:80px;
margin-top:0px;
}

#nav02:hover #recipe_2{
display:block;

}
#try{
display:none;'
margin-left:120px;
}

#nav03:hover #try{
display:block;
}
#navi{
 
margin-left:auto;
margin-right:auto;
width:600px;
transition : all 1s ease-in-out;
 -webkit-transition : all 1s ease-in-out;
 -moz-transition : all 1s ease-in-out;
 -o-transition : all 1s ease-in-out;
 -ms-transition : all 1s ease-in-out;

} 

iframe {
margin-top:220px;
width:800px;
height:876px;
} 

#navigation {
    position : fixed;
    top : 160px; left : 150px;
    z-index : 9990;

}
#navigation li {
    margin : 0 0 20px;
    position : relative;
    display:block;
}
#navigation a {
    background : transparent url(../img/navi_bg.png) no-repeat  0 0;
    height:70px;
    width:70px;
    background-size: 100% ;
    display : block;
    z-index : 10;
}
#navigation span { display : none; }
#navigation a .dot {
    width : 70px;
    height : 70px;
    background-size: 100% ;
    position : absolute;
    top : 0; left : 0;
    border-radius:4px;
     z-index : 20;
	 
}
#navigation a:hover .dot { display : block; }
#nav01 .dot { background : transparent url(../img/red.png) no-repeat   0 0 ;   }
#nav02 .dot { background : transparent url(../img/yellow.png) no-repeat   0 0;  }
#nav03 .dot { background : transparent url(../img/blue.png) no-repeat  0 0;     }
 
#navigation .info_1 {
    color : #f5f1e9;
    font-size : 14px;
    line-height : 20px;
    white-space : nowrap;
    background : url(../img/zhuce_1.png);
    height : 119px;
    width: 270px;
    padding : 5px 8px;
    position : absolute;
    top : -5px; left : 30px;
    z-index : 30;
    border-radius : 4px;
    -webkit-border-radius : 4px;
    -moz-border-radius : 4px;
    -o-border-radius : 4px;
    -ms-border-radius : 4px;
}
#navigation li:hover .info { display : block; }

#inform{
height:876px;
width:800px;
margin-left:auto;
margin-right:auto;
 
background:url(../img/bg1.png) repeat left top;

}

a{
color:black;
transition : all 1s ease-in-out;
 -webkit-transition : all 1s ease-in-out;
 -moz-transition : all 1s ease-in-out;
 -o-transition : all 1s ease-in-out;
 -ms-transition : all 1s ease-in-out;


}
 
    
   


#have_a_try{
width:800px;
margin-left:auto;
margin-right:auto;
height:876px;
background:url(../img/try.jpg) repeat left top;

}

 

#fixed_header{

position:fixed;
top:-20px; 
z-index:200; 
}

#recipe{
	 width:800px;
       margin-left:auto;
margin-right:auto;
	 position:relative;
	height:876px; 
    background:url(../img/bg2.jpg) repeat left top;
	
	 
}

#container {
	width: 60%; 
	margin:0 auto;
	background-origin:!important;
	padding-top:160px;
}
#container .recipe_sort
{
	overflow:hidden;
	float:none;
	padding:15px 0 0 25px;
	width:90px;
	line-height:58px;
	height:70px;
	float:right;
	background:url("../img/rank_bg.png") no-repeat;
	right:-90px;
	position:relative;
}
#container .recipe_sort a
{
	display:block;
	width:21px;
	height:21px;
	float:left;
	text-indent:-1000em;
}
.hotSortBtn{background:url("../img/hot.png");}
.timeSortBtn{background:url("../img/time.png"); margin-left:14px}

footer p{
margin:10px;
color:#666666; 
text-align:right;

}

.copy{
text-align:center;
margin-bottom:10px;
}

 